<!DOCTYPE html>
<html>
  <head>
   <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class='<%= controller.controller_name %>'>
  <%= image_tag 'https://image.freepik.com/free-vector/abstract-logo-in-flame-shape_1043-44.jpg',:size=>"200x200", alt: 'The Pragmatic Bookshelf' %>
  <div id="side">
<ul>
<li><a href="/store/index">Home</a></li>
<li><a href="/products">Add</a></li>
<li><a href="/store/index">Store</a></li>
<li><a href="http://www..../contact">Contact</a></li>
<li class="test"><a><%= Time.now %></a></li>
</ul>
</div>
  <div id="all">
    <div id="banner" >
    <div id="left">

</div>
<span class="title"><%= @page_title %></span>

</div>
<div id="columns" >
  
<div>
<div id="main">
<%= yield %>

</div>
</div>
<style>
li.test{
  padding-left:74% ;
}
</style>
  </body>
</html>

